.form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    .form-group{
        display: flex;
        width: 100%;

        label{
            width: 50px;
        }
    }
}

.chart-container{
    border-radius: 0.8rem;
    margin: 1rem;
    box-shadow: 10px 10px 9px grey;
    border: 1px solid lightgray;
    min-width: 300px;
    min-height: 400px;
}